.edit-popup-block-tinn{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  z-index: 9999;
}
.edit-popup-block{
  position: fixed;
  left: 35%;
  top: 25%;
  padding: 16px;
  border-radius: 16px;
  width: 672px;
  height: 470px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
.edit-p{
  @include text("Roboto", 500, 14px, 20px, normal, $black-color, none, none);
  margin-bottom: 4px;
}
.edit-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-close{
  width: 29px;
  height: 40px;
  padding: 8px;
  border: none;
}
.edit-field-text{
  margin-bottom: 12px;
}
.edit-input-text{
  padding: 8px 16px;
  width: 624px;
  border: 1px solid;
  border-color: $white-color;
  border-radius: 16px;
}
.edit-input-filling-text{
  padding: 8px 16px;
  width: 624px;
  border: 1px solid;
  border-color: $white-color;
  border-radius: 16px;
  min-height: 120px;
}
.edit-buttons{
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 12px;
}
.edit-cancel{
  width: 98px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
}
.edit-save{
  width: 98px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: $black-color;
  @include text("Roboto", 500, 14px, 20px, normal, $white-color, none, center);
}
