#popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  z-index: 9999;
  display: none;
}
#popup-content{
  position: fixed;
  top: 25%;
  left: 32%;
  background: white;
  display: block;
  padding: 24px;
  border-radius: 24px;
  height: 470px;
  width: 672px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 100;
}
#close-popup{
 width: 29px;
  height: 40px;
  padding: 8px;
  border: none;
}
#post-title{
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px;
  border: solid 2px;
  border-color: $gray-color;
}
#post-text{
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px;
  border: solid 2px;
  border-color: $gray-color;
  min-height: 120px;
}
#post-tags{
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px;
  border: solid 2px;
  border-color: $gray-color;
}
.buttons-div{
  margin-top: 24px;
  display: flex;
  justify-content: right;
}
#cancel-popup{
  width: 98px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  @include text("Roboto", 500, 14px, 20px, normal, $black-color, none, center);
}
#create-post{
  width: 98px;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: $black-color;
  @include text("Roboto", 500, 14px, 20px, normal, $white-color, none, center);
}
.close-div{
  max-width: 624px;
  display: flex;
  flex-direction: row;
  gap: 497px;
}
.newp-h2{
  margin: 0px;
  width: 98px;
  @include text("Roboto", 600, 18px, 28px, normal,$black-color, $txt-decor: none, $txt-align: left);
}
.text-lable{
@include text("Roboto", 400, 14px, 20px, normal, rgb(0, 0, 0), $txt-decor: none, $txt-align: left);
  margin-bottom: 4px;
}